.btn {
  background-image: linear-gradient(260deg, rgba(#1d479b, 1), rgba(#3345eb, 1));
  color: #fff;
  font-size: 22px;
  padding: 22px 115px 30px 115px;
  box-shadow: 0 0 10px 0 #1d479b;
  z-index: 10;
  &:hover {
    box-shadow: 0 0 0 0;
  }
  @include desktop {
    font-size: 16px;
  }
}

.button {
  padding: 22px 47px 30px 47px;
}
