.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom: 1px solid #1D479B;
    }
}

.nav__link {
  text-decoration: none;
  color: #1D479B;
}
