.social {
  padding-right: 30px;
  @include tablets {
    padding-right: 0;
  }
  @include phones {
    text-align: center;
  }
}

.social__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 5px;
}
